#item-delete-layer
#item-delete-popup
  .confirm-box
    %h2
      確認
    %p
      削除すると二度と復活できません。
    %p
      本当に削除しますか？
    .confirm-lists
      .close-item-delete-popup
        %span
          キャンセル
      =link_to item_path,method: :delete ,class: "delete-link" do
        %span
          削除する
.container.clearfix
  .right-content
    %section.item-detail-container
      %h2.item-name 
        =@item.name
      .item-main-content.clearfix
        .item-detail-photo
          - @item.images.each do |img|
            .owl-item-inner.is-higher-width
              =image_tag img.name.url
        %table.item-detail-table
          %tbody
            %tr
              %th 出品者
              %td
                =link_to root_path do
                  =@item.user.name
                %div
            %tr
              %th カテゴリー
              %td
                =link_to root_path do
                  %div
                    =@item.category.parent.parent.name
                =link_to root_path do
                  .item-detail-table-sub-category
                    %i.icon-arrow-right
                      =@item.category.parent.name
                =link_to root_path do
                  .item-detail-table-sub-sub-category
                    %i.icon-arrow-right
                      =@item.category.name
            %tr
              %th ブランド
              %td
                =@item.brand.name
            %tr
              %th 商品のサイズ
              %td 
                =@item.size.name
            %tr
              %th 商品の状態
              %td 
                =@item.condition
            %tr
              %th 配送料の負担
              %td 
                =@item.delivery.fee
            %tr
              %th 配送元地域
              %td
                =link_to root_path do
                  =@item.delivery.area
            %tr
              %th 発送日の目安
              %td 
                =@item.delivery.delivery_days
      .item-price-box.text-center
        %span.item-price.bold
          =@item.price
        %span （税込）
        %span.item-shipping-fee
          =@item.delivery.fee
      .item-description.f14
        %p.item-description-inner
          =@item.description
    .listing-item-change-box
      =link_to edit_item_path do
        .btn-default-red
          商品の編集
      %p.text-center or
      %button.detail-btn-default-gray{type: "submit"} 出品を一旦停止する
      =link_to "#item-delete-popup",id: "delete-button" do
        %button.detail-btn-default-gray
          この商品を削除する