*{
  margin: 0;
  font-size: inherit;
  line-height: inherit;
}
div{
  display:block;
}
body{
  background: #f5f5f5;
  position: relative;
  min-height: 100%;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  font-size: 14px;
  color: #333;
  line-height: 1;
}
.single-container__main{
  display: block;

  &__login-panel{
    max-width: none;
    width: 456px;
    margin: 0 auto;
    background: #fff;

    
    &__no-account{
      padding: 40px 64px;
      text-align: center;
      p{
        font-size:14px;
      }
      a{
        display: block;
        margin: 8px 0 0;
        border: 1px solid #0099e8;
        background: #0099e8;
        color: #fff;
        line-height: 40px;
        text-decoration: none;
      }
    }
    &__sns{
      padding: 32px 64px;
      border-top: 1px solid #eee;

      button{
        display: block;
        width: 100%;
        line-height: 48px;
        font-size: 14px;
        border: 1px solid transparent;
        transition: all ease-out .3s;
        cursor: pointer;
        text-align: center;
        position: relative;
      }

      .facebook-login{
        margin: 0;
        background: #385185;
        color: #fff;
        a{
          color: white;
        }

        .facebook-icon{
          display: inline-block;
          font-style: normal;
          font-weight: 400;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          position: absolute;
          top: 50%;
          left: 16px;
          transform: translate(0, -50%);
          font-size: 27px;
          color: #fff;
          background: #385185;
        }
      }
      .google-login{
        margin: 16px 0 0;
        border: #979797 solid 1px;
        color: #333;
        a{
          color: black;
        }
        
        .google-icon{
          position: absolute;
          left: 15px;
          top: 10px;
        }
      }
    }
    .form{
      padding: 10px 64px 32px;
      display: block;
      &__login-form{
        margin: 5%;
        input{
          height: 48px;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: #fff;
          line-height: 1.5;
          font-size: 16px;
          width: 90%;
          height:50%;
          background-color: rgb(232, 240, 254) !important;
          background-image: none !important;
          color: rgb(0, 0, 0) !important;
        }
      }
      .actions input{
          margin: 24px 0 0;
          height: 100%;
          background: #ea352d;
          border: 1px solid #ea352d;
          color: #fff;
          display: block;
          width: 100%;
          line-height: 48px;
          font-size: 14px;
          border: 1px solid transparent;
          -webkit-transition: all ease-out .3s;
          transition: all ease-out .3s;
          cursor: pointer;
          text-align: center;
          font-family: inherit;
          font-style: inherit;
          font-weight: inherit;
      }
      a{
        color: #0099e8;
        text-decoration: none;
        display: block;
        margin: 40px 0 0;
      }
    }
  }
}