.header{
  text-align: center;
  height: 128px;

  h1{
    margin: 40px 0 0;
    display: inline-block;

    a{
      @media screen and (min-width: 768px){
        width: 185px;
        height: 49px;
        line-height: 49px;
      }
      display: inline-block;
      width: 120px;
      height: 33px;
      margin: 0 8px 0 0;
      line-height: 33px;
      color: #0099e8;
      text-decoration: none;
      touch-action: manipulation;
    }
  }

  &__progress-bar{
    padding: 40px 0 0 44px;
    border: 0;
    display: inline-block;
    vertical-align: top;
    font-size: 0;
    text-align: center;

    ol {
      display: block;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      padding-inline-start: 40px;
      list-style: none;
      margin:0;
    }
  }
  .active4{
    font-weight: 600;
    color: #ea352d;
    margin: 0 40px 0 0;
    min-width: 60px;
    position: relative;
    z-index: 1;
    display: inline-block;
    font-size: 12px;
    .progress-status{
      background: #ea352d;
      width: 12px;
      height: 12px;
      margin: 8px auto 0;
      border-radius: 50%;
      &::before{
        right: 50%;
        position: absolute;
        bottom: 5px;
        z-index: -1;
        display: block;
        content: '';
        width: 100%;
        height: 2px;
        background:#ea352d;
      }
      &::after{
        left: 50%;
        position: absolute;
        bottom: 5px;
        z-index: -1;
        display: block;
        content: '';
        width: 100%;
        height: 2px;
        background: #ccc;
      }
    }
  }
  .no-active4{
    font-weight: 600;
    color: #888;
    margin: 0 40px 0 0;
    min-width: 60px;
    position: relative;
    z-index: 1;
    display: inline-block;
    font-size: 12px;
    .progress-status{
      background: #888;
      width: 12px;
      height: 12px;
      margin: 8px auto 0;
      border-radius: 50%;
      &::before{
        right: 50%;
        position: absolute;
        bottom: 5px;
        z-index: -1;
        display: block;
        content: '';
        width: 100%;
        height: 2px;
        background: #ccc;
      }
      &::after{
        left: 50%;
        position: absolute;
        bottom: 5px;
        z-index: -1;
        display: block;
        content: '';
        width: 100%;
        height: 2px;
        background: #ccc;
      }
    }
  }
  .complete-page4{
    font-weight: 600;
    color: #888;
    margin: 0 40px 0 0;
    min-width: 60px;
    position: relative;
    z-index: 1;
    display: inline-block;
    font-size: 12px;
    .progress-status{
      background: #888;
      width: 12px;
      height: 12px;
      margin: 8px auto 0;
      border-radius: 50%;
      &::after{
        right: 50%;
        position: absolute;
        bottom: 5px;
        z-index: -1;
        display: block;
        content: '';
        width: 100%;
        height: 2px;
        background: #ccc;
      }
    }
  }
  .member4{
    color: #888;
    .progress-status{
      background: #ea352d;
      &::before{
        left: 50%;
        position: absolute;
        bottom: 5px;
        z-index: -1;
        display: block;
        content: '';
        width: 100%;
        height: 2px;
        background: #ccc;
      }
      &::after{
        background: #ea352d;
      }
    }
  }
  .tel-num4{
    color: #888;
    .progress-status{
      background: #ea352d;
      &::before{
        background: #ea352d;
      }
      &::after{
        background: #ea352d;
      }
    }
  }
  .delivery-address4{
    color: #888;
    .progress-status{
      background: #ea352d;
      &::before{
        background: #ea352d;
      }
      &::after{
        background: #ea352d;
      }
    }
  }
}
.signup-container.clearfix{
  width: 700px;
  margin: 0 auto;
  background: #fff;
  display:block;
  padding: 0 0 40px;
}
.signup-container.clearfix::after{
  @include clearfix;
}
.right-content{
  float:right;
  width: 700px;
}
.right-chapter-container{
  background: #fff;
}
.right-chapter-container:first-child {
  margin: 0;
}
.content{
  &__title{
    font-size: 24px;
    padding: 8px 24px;
    border-bottom: 1px solid #f5f5f5;
    text-align: center;
    box-sizing:border-box;
    font-weight: bold;
  }
}
.card-select-box::after{
  @include clearfix;
}
.card-form{
  padding: 40px 40px 64px;
  border-top: 1px solid #f5f5f5;
  &__content{
    margin: 0 auto;
    max-width: 343px;
  }
}

.single-content__form-group input{
  width: 90%;
  margin: 6px 0 0;
  height: 25px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
}

