
.header{
  text-align: center;
  height: 128px;

  h1{
    margin: 40px 0 0;
    display: inline-block;

    a{
      @media screen and (min-width: 768px){
        width: 185px;
        height: 49px;
        line-height: 49px;
      }
      display: inline-block;
      width: 120px;
      height: 33px;
      margin: 0 8px 0 0;
      line-height: 33px;
      color: #0099e8;
      text-decoration: none;
      touch-action: manipulation;
    }
  }

  &__progress-bar{
    padding: 40px 0 0 44px;
    border: 0;
    display: inline-block;
    vertical-align: top;
    font-size: 0;
    text-align: center;

    ol {
      display: block;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      padding-inline-start: 40px;
      list-style: none;
      margin:0;
    }
  }
  .active2{
    font-weight: 600;
    color: #ea352d;
    margin: 0 40px 0 0;
    min-width: 60px;
    position: relative;
    z-index: 1;
    display: inline-block;
    font-size: 12px;
    .progress-status{
      background: #ea352d;
      width: 12px;
      height: 12px;
      margin: 8px auto 0;
      border-radius: 50%;
      &::before{
        right: 50%;
        position: absolute;
        bottom: 5px;
        z-index: -1;
        display: block;
        content: '';
        width: 100%;
        height: 2px;
        background:#ea352d;
      }
      &::after{
        left: 50%;
        position: absolute;
        bottom: 5px;
        z-index: -1;
        display: block;
        content: '';
        width: 100%;
        height: 2px;
        background: #ccc;
      }
    }
  }
  .no-active2{
    font-weight: 600;
    color: #888;
    margin: 0 40px 0 0;
    min-width: 60px;
    position: relative;
    z-index: 1;
    display: inline-block;
    font-size: 12px;
    .progress-status{
      background: #888;
      width: 12px;
      height: 12px;
      margin: 8px auto 0;
      border-radius: 50%;
      &::before{
        right: 50%;
        position: absolute;
        bottom: 5px;
        z-index: -1;
        display: block;
        content: '';
        width: 100%;
        height: 2px;
        background: #ccc;
      }
      &::after{
        left: 50%;
        position: absolute;
        bottom: 5px;
        z-index: -1;
        display: block;
        content: '';
        width: 100%;
        height: 2px;
        background: #ccc;
      }
    }
  }
  .complete-page2{
    font-weight: 600;
    color: #888;
    margin: 0 40px 0 0;
    min-width: 60px;
    position: relative;
    z-index: 1;
    display: inline-block;
    font-size: 12px;
    .progress-status{
      background: #888;
      width: 12px;
      height: 12px;
      margin: 8px auto 0;
      border-radius: 50%;
      &::after{
        right: 50%;
        position: absolute;
        bottom: 5px;
        z-index: -1;
        display: block;
        content: '';
        width: 100%;
        height: 2px;
        background: #ccc;
      }
    }
  }
  .member2{
    font-weight: 600;
    color: #888;
    margin: 0 40px 0 0;
    min-width: 60px;
    position: relative;
    z-index: 1;
    display: inline-block;
    font-size: 12px;
    .progress-status{
      background: #ea352d;
      width: 12px;
      height: 12px;
      margin: 8px auto 0;
      border-radius: 50%;
      &::before{
        left: 50%;
        position: absolute;
        bottom: 5px;
        z-index: -1;
        display: block;
        content: '';
        width: 100%;
        height: 2px;
        background: #ccc;
      }
      &::after{
        right: 50%;
        position: absolute;
        bottom: 5px;
        z-index: -1;
        display: block;
        content: '';
        width: 100%;
        height: 2px;
        background: #ea352d;
      }
    }
  }
}
