.signup-topbar-container{
  &__header{
    text-align: center;
    padding:40px 0;
    &__logo{
      width: 185px;
      height: 49px;
      line-height: 49px;
      display: inline-block;
    }
  }
}