.single{
  &__main{
    display: block;
  }
  &__container{
    width: 700px;
    margin: 0px auto;
    background: rgb(255, 255, 255);
  }
  &__head{
    font-size: 22px;
    padding: 32px 16px;
    line-height: 1.5;
    text-align: center;
    font-weight:600;
    color: rgb(51, 51, 51);
  }
}
.sell{
  &__container-inner{
  }
}