body{
  background: #f5f5f5;
  position: relative;
  min-height: 100%;
  background: #f5f5f5;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  font-size: 14px;
  color: #333;
  line-height: 1;
}
.profile-content{
  height: 1300px;
  background-color: rgb(245, 245, 245);
  margin: 40px auto 0;
  width: 1020px;
  padding: 0 0 40px;
}
.content::after{
  @include clearfix;
}
.right{
    &__content{
        float: right;
        width: 700px;
        height: 590px;
        font-size: 24px;
        font-weight: bold;
        background: #fff;
    }
    &__chapter{
      margin: 0;
      
    }
    &__chapter-head{
        background-color: #fff;
        font-weight: bold;
        margin: auto;
        text-align: center;
    }
  }
.profile-form{
  margin: 0;
  padding: 10;
  position: absolute;
    }
.profile-icon{
  padding-top:70px;
  background-size: cover;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 0;
}
  .profile-icon img{
    border-radius:50%;
    position: relative;
}
  .nameplate{
    width: 220px;
    height: 48px;
    position: relative;
    margin-left:5px;
} 
.profile-comment{
  padding: 40px 16px;
  margin: 0;
  border: 0;
  font-size: 100%;
  padding-top:60px;
  vertical-align: baseline;
  border-style: solid;
  border-width: 0;
}
.profile-field{
  width:640px;
  height:206px;
  padding: 10px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  line-height: 1.5;
}

.btn-red{
  margin: 16px 0 0;
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
}