.default-container{
  display: block;
  .topbar h1 a{
    display: block;
    color: #333;
  }
  a{
    text-decoration: none;
  }
  .topbar{
    font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
    font-weight: 500;
    position: relative;
    z-index: 1001;
    background: rgb(255, 255, 255);
    &__inner{
      width: 1020px;
      margin: 0 auto;
      padding: 8px 0 0;
    }
      &__top{
        @include display;
        @include align;
        @include pack;
        align-items: center;
        justify-content: space-between;
      }
        &__form{
          position: relative;
          margin-left: 45px;
          width: 100%;
          @include flex;
          .input-default{
            @include transition;
            background: #f5f5f5;
            border-radius: 4px;
            padding: 0 42px 0 10px;
            width: 100%;
            height: 40px;
            border: 1px solid #ccc;
            line-height: 1.5;
            font-size: 16px;
          }
          input[type='search'] {
            -webkit-appearance: none;
          }
          input[type="search"] {
            -webkit-appearance: textfield;
          }
          .input-default:focus {
            border-color: #0099e8;
          }
          input{
            border: 0;
            outline: 0;
            font-family: inherit;
            -webkit-appearance: none;
            -moz-appearance: none;
          }
          .icon-search {
            position: absolute;
            top: 0;
            right: 0;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            cursor: pointer;
            @include display;
            @include align;
            @include pack;
          }
          .icon-search a{
            text-decoration:none;
            color:black;
          }
        }
        .topbar-nav-box {
          margin: 8px 0 0;
        &:after {
          @include clearfix;
        }
          .list-left {
            float: left;
          }
            
            .topbar-nav h2 {
              font-size: 14px;
              font-weight: 400;
            }
            h2 {
              font-size: 22px;
              line-height: 1.4;
            }
            .topbar-nav>li:first-child {
              padding-left: 0;
            }
            .topbar-nav>li {
                position: relative;
                display: inline-block;
                padding: 0 11px;
                cursor: pointer;
            }
            .topbar-nav a {
              display: block;
              color: #333;
            }
            .topbar-nav {
              font-size: 0;
              &__root {
                position: relative;
                height: 44px;
                line-height: 32px;
                font-weight: 700;
              }
            }
              .topbar-cat-brand-icon {
                color: #ea352d;
                margin-right: 4px;
              }
          .list-right {
            float: right;
            height:44px;
          }
            .topbar-user-nav {
              font-size: 0;
            }
              .topbar-user-nav>li:first-child {
                padding-left: 0;
              }
              .topbar-user-nav>li {
                position: relative;
                display: inline-block;
                padding: 0 14px;
                cursor: pointer;
              }
              .topbar-user-icon {
                position: relative;
                display: block;
                height: 44px;
                line-height: 32px;
                font-size: 0;
                color: #333;
              }
              .topbar-user-icon figure {
                display: inline-block;
                position: relative;
                text-align: center;
                vertical-align: middle;
              }
              
              .topbar-user-icon figure img {
                vertical-align: bottom;
                overflow: hidden;
                border-radius: 50%;
              }
              .topbar-user-nav>li i {
                color: #ccc;
                vertical-align: middle;
                font-size:20px;
              }
              .topbar-user-nav>li>a span {
                margin-left: 10px;
                font-size: 14px;
              }
              .topbar-user-nav span {
                vertical-align: middle;
              }
              
              .topbar-menu-link {
                position: relative;
                display: block;
                height: 44px;
                line-height: 32px;
                font-size: 0;
                color: #333;
                .icon-like-border {
                  font-size: 18px;
                }
                .icon-bell {
                  font-size: 20px;
                }
                .icon-check {
                  font-size: 16px;
                }
              }
        }
  }
}
.sell-btn {
  bottom: 32px;
  right: 32px;
  width: 160px;
  height: 160px;
  font-size: 22px;
  position: fixed;
  border-radius: 50%;
  background: #ea352d;
  color: #fff;
  text-align: center;
  z-index: 1000;
  text-decoration:none;
}
.sell-btn div{
  margin: 32px 0 0;
}
.icon-camera {
  margin: 8px 0 0;
  font-size: 64px;
}
.pre-list{
  display: flex;
  float:right;
}
.presignup-list{
  text-align: center;
}
.signup-link{
  background-color: rgb(234, 53, 45);
  color: rgb(255, 255, 255);
  display: block;
  font-size: 14px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(234, 53, 45);
  border-image: initial;
  border-radius: 4px;
  padding: 8px 10px;
}
.prelogin-list{
  text-align: center;
  margin-left: 11px;
}
.login-link{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 149, 238);
  display: block;
  font-size: 14px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(0, 149, 238);
  border-image: initial;
  border-radius: 4px;
  padding: 8px 10px;
  transition: all 0.3s ease-out 0s;
}