.footer
  .footer__navi
    %span 
      = link_to "プライバシーポリシー"
    %span 
      = link_to "メルカリ利用規約"
    %span 
      = link_to "特定商取引に関する表記"
    .footer-logo
      = image_tag("https://www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?3951034907", alt: "mercari", size: "80x65")
    %p
      %small
        © 2019 Mercari